In [1]:
#Importing the Yahoo Finance Library
import yfinance as yf

#To extract the stock data of the HDFC Bank between '2021-10-19' and end='2022-10-19'

#NSE symbol for HDFC bank
symbol = "HDFCBANK.NS"

#Creating a ticker object
tickerData = yf.Ticker(symbol)

#get the historical prices for this ticker (perid='1d' implies daily data)
tickerDf = tickerData.history(period='1d', start='2021-10-19', end='2022-10-19')

In [2]:
#The extracted data in a data frame
tickerDf = tickerDf.reset_index()

In [3]:
tickerDf

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-10-19 00:00:00+05:30,1656.193303,1672.997915,1651.794497,1669.291016,4493770,0.0,0
1,2021-10-20 00:00:00+05:30,1669.686543,1679.225656,1645.319830,1654.611816,5454284,0.0,0
2,2021-10-21 00:00:00+05:30,1652.585412,1662.618657,1641.761192,1657.033691,4869095,0.0,0
3,2021-10-22 00:00:00+05:30,1660.789942,1688.369300,1651.547429,1661.432495,6087777,0.0,0
4,2021-10-25 00:00:00+05:30,1670.576162,1670.576162,1595.252007,1637.955444,8213383,0.0,0
...,...,...,...,...,...,...,...,...
244,2022-10-12 00:00:00+05:30,1403.199951,1414.849976,1397.300049,1409.800049,4612525,0.0,0
245,2022-10-13 00:00:00+05:30,1402.050049,1406.250000,1384.000000,1393.599976,7357117,0.0,0
246,2022-10-14 00:00:00+05:30,1417.000000,1447.000000,1415.250000,1439.000000,6424960,0.0,0
247,2022-10-17 00:00:00+05:30,1435.000000,1457.599976,1427.000000,1446.550049,9205250,0.0,0
248,2022-10-18 00:00:00+05:30,1458.050049,1462.900024,1440.000000,1443.849976,5280554,0.0,0

**Exercise**

Question 1:

Design a function named

       get_stock_data(symbol, start_date, end_date)

that would take a stock symbol, a start date and an end date and generate a data frame of the above kind.

For example,

        get_stock_data('TATAMOTORS.NS', start_date='2021-10-19', end_date='2022-10-19').head() 

Would return...

                          Open	      High	      Low	     Close	 Volume	   Dividends	Stock Splits
        Date							
        2021-10-19	512.450012	517.400024	476.049988	481.899994	57428637	0	         0
        2021-10-20	481.799988	497.000000	471.250000	486.899994	55444814	0	         0
        2021-10-21	491.750000	510.399994	485.750000	508.000000	52608672	0	         0
        2021-10-22	509.899994	510.700012	487.399994	490.899994	42742785	0	         0
        2021-10-25	493.899994	496.000000	473.250000	479.899994	33107841	0	         0

In [4]:
def get_stock_data(symbol, start_date, end_date):
    
    #Creating a ticker object
    tickerData = yf.Ticker(symbol)

    #get the historical prices for this ticker (period='1d' implies daily data)
    tickerDf = tickerData.history(start_date='1d', start=start_date, end=end_date)
    
    if not tickerDf.empty:
        tickerDf.index = tickerDf.index.date
    tickerDf.index.names = ['Date']
    return tickerDf

In [5]:
get_stock_data(symbol='TATAMOTORS.NS', start_date='2021-10-19', end_date='2022-10-19').tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-12,394.549988,398.200012,391.100006,396.549988,14287344,0,0
2022-10-13,396.549988,403.500000,394.549988,399.000000,12584114,0,0
2022-10-14,407.000000,409.200012,395.299988,396.250000,12875470,0,0
2022-10-17,394.000000,398.899994,392.500000,396.100006,9543556,0,0
2022-10-18,401.000000,406.700012,400.700012,404.250000,14215544,0,0

Q.2 Create a function named

    export_stock_data(symbol, start_date, end_date, directory)

that would take a stock symbol, a start date, an end date and a path (directory) to generate a data frame of the above kind and export it as a CSV file in the given directory with the name of the file as the symbol of the stock.

In [6]:
def export_stock_data(symbol, start_date, end_date, directory):

#     #Creates directory if not exists
#     if not os.path.exists(directory):
#         os.mkdir(directory)
    
    #Creating a ticker object
    tickerData = yf.Ticker(symbol+'.NS')

    #get the historical prices for this ticker (period='1d' implies daily data)
    tickerDf = tickerData.history(start_date='1d', start=start_date, end=end_date)
    
    #If no historical data is found for the given time range, index processing is skipped
    if not tickerDf.empty:
        tickerDf.index = tickerDf.index.date
    
    #Save the csv file
    tickerDf.to_csv(directory + '/' + symbol + '.csv')

In [9]:
import os
os.getcwd()

'C:\\Users\\punee\\Downloads\\Python end term stock'

In [10]:
export_stock_data(symbol='TATAMOTORS', start_date='2021-10-19', end_date='2022-10-19', directory=r'C:\\Users\\punee\\Downloads\\Python end term stock')

Question 3

The file nifty50.csv contains the name and symbols of all the 50 stocks of nifty-50.

Use the function named

    export_stock_data(symbol, start_date, end_date, directory)

that would take the stock symbol one at a time from the nifty50.csv file to generate a data frame of the above kind and export it as a CSV file inside a NEW FOLDER in the given directory with the name of the file as exactly equal to the symbol of the stock given in the CSV file.

Note:

The symbols given in the dataset do not have the suffix .NS which needs to be added to the symbols before it can be used in the function.

The new folder must be created with the name NIFTY50

All the data frames must be exported as a CSV files as saved in the NIFTY50 folder

In [12]:
import pandas as pd
nifty50 = pd.read_csv('nifty50.csv')
nifty50.head()

                                 Company Name            Industry      Symbol
0                      Adani Enterprises Ltd.     Metals & Mining    ADANIENT
1  Adani Ports and Special Economic Zone Ltd.            Services  ADANIPORTS
2            Apollo Hospitals Enterprise Ltd.          Healthcare  APOLLOHOSP
3                           Asian Paints Ltd.   Consumer Durables  ASIANPAINT
4                              Axis Bank Ltd.  Financial Services    AXISBANK

In [13]:
nifty50.shape

(50, 3)

In [14]:
def export_stock_data(symbol, start_date, end_date,directory):
    
    #Creates directory if not exists
    if not os.path.exists(directory):
        os.mkdir(directory)
    
    #Creating a ticker object
    tickerData = yf.Ticker(symbol+'.NS')

    #get the historical prices for this ticker (perid='1d' implies daily data)
    tickerDf = tickerData.history(start_date='1d', start=start_date, end=end_date)
    
    #If no historical data is found for the given time range, index processing is skipped
    if not tickerDf.empty:
        tickerDf.index = tickerDf.index.date
        
    tickerDf.to_csv(directory + '/' + symbol + '.csv')

In [15]:
#List of symbols
symbols = nifty50['Symbol'].to_list()

In [16]:
#Iterate through each symbol and get the data for the given time range
for sym in symbols:
    export_stock_data(symbol=sym, start_date='2019-10-19', end_date='2022-10-19', directory='NIFTY50')

**Question 4**

Create a function called,

daily_return(df)

This function should be able to take a dataframe shown in the example above and calculate the daily return of the close price and output a dataframe with the same number of columns and an additional column named "Return_Close".

The daily return for a day is calculated as follows:

daily return = (today's price - previous day's price)/(previous day's price)*100

Note: You can calculate the daily return starting from the day 2. The return for the day 1 should be set to 0.

In [17]:
def daily_return(df):
    #subtract-the-previous-row-from-the-current-row-in-a-pandas-dataframe-and assign the value to a new column
    df['Return_Close'] = df['Close'].pct_change() * 100
    #First row is Nan, so we're replacing with 0
    df.fillna(0,inplace=True)
    return df

In [18]:
stock_df = get_stock_data(symbol='TATAMOTORS.NS', start_date='2021-10-19', end_date='2022-10-19')

In [19]:
daily_return_df = daily_return(stock_df)
daily_return_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Return_Close
Date,,,,,,,,
2021-10-19,512.450012,517.400024,476.049988,481.899994,57428637,0,0,0.000000
2021-10-20,481.799988,497.000000,471.250000,486.899994,55444814,0,0,1.037560
2021-10-21,491.750000,510.399994,485.750000,508.000000,52608672,0,0,4.333540
2021-10-22,509.899994,510.700012,487.399994,490.899994,42742785,0,0,-3.366143
2021-10-25,493.899994,496.000000,473.250000,479.899994,33107841,0,0,-2.240782
...,...,...,...,...,...,...,...,...
2022-10-12,394.549988,398.200012,391.100006,396.549988,14287344,0,0,0.813520
2022-10-13,396.549988,403.500000,394.549988,399.000000,12584114,0,0,0.617832
2022-10-14,407.000000,409.200012,395.299988,396.250000,12875470,0,0,-0.689223
2022-10-17,394.000000,398.899994,392.500000,396.100006,9543556,0,0,-0.037853
2022-10-18,401.000000,406.700012,400.700012,404.250000,14215544,0,0,2.057560

**Question 5**

Consider the NIFTY50 folder created in Q3. This folder should contain 50 data frames - one for each stocks in the Nifty-50 list. Create a function called,

get_return(directory)


This function would take the link to the NIFTY50 folder, read one CSV file at a time present inside it, calulate the return of the close price, save the return value in an new column called "Return" and update the CSV file.

In [20]:
def get_return(directory):
    
    #List all files in the directory
    file_list = os.listdir(directory)
    
    #Iterate through each file
    for file in file_list:
        # reading the file 
        df = pd.read_csv(directory + '/' + file)
        
        #This check is given if there are no records for the given time range for a given company
        if not df.empty:
            #subtract-the-previous-row-from-the-current-row-in-a-pandas-dataframe-and-assign-to-a-new-column
            df['Return'] = df['Close'].pct_change() * 100
            #First row is Nan, so replacing with 0
            df.fillna(0,inplace=True)
            
            #Update csv
            df.to_csv(directory + '/' + file)

In [21]:
get_return(directory='NIFTY50')

**Question 6**

Modify the get_return() function such that it has another argument,

get_return(directory, plot = False)

If the argument plot is set to False the the output of this function is same as the function in Q6. However, if it is set to True then for every stock we get a line plot in the JPEG format exported in a separate folder named Graphs inside the parent directory

In [22]:
def get_return(directory,plot):
    
        
    #Creates directory if not exists
    if plot==True:
        if not os.path.exists('Graphs'):
            os.mkdir('Graphs')

    #List all files in the directory
    file_list = os.listdir(directory)

    #Iterate through each file
    for file in file_list:
        #print(file)
        #Read the file
        df = pd.read_csv(directory + '/' + file)

        df.rename(columns={'Unnamed: 0':'Date'},inplace=True)

        #This check is given if there are no records for the given time range for a given company
        if not df.empty:
            #https://stackoverflow.com/questions/39479919/how-do-i-subtract-the-previous-row-from-the-current-row-in-a-pandas-dataframe-an
            df['Return'] = df['Close'].pct_change() * 100
            #First row is Nan, so replacing with 0
            df.fillna(0,inplace=True)
            
            #Update csv
            df.to_csv(directory + '/' + file)
            
            if plot:

                df.plot.line(x = 'Date', y = 'Return')
                plt.xlabel('Date')
                plt.ylabel('Return')
                # Rotates X-Axis Ticks by 45-degrees
                plt.xticks(rotation = 25)
                #Remove .csv from the file name
                plt.title(file.split('.')[0])
                #plt.show()

                plt.savefig('Graphs'+ '/' + file.split('.')[0] + '.jpg')

In [23]:
get_return(directory='NIFTY50',plot=False)